<ion-header>
  <ion-toolbar>
    <ion-title>
      10K test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Top 10k most used passwords</p>
    <input type="text" id="passwordListInput" list="passwordList" />
    <datalist id="passwordList">
      <option *ngFor="let password of passwords">
      {{ password }}
      </option>>
    </datalist>
    <p>Writing to the DOM is slow so populating the dropdown takes some time with 10k records.</p>
    <p>There are options to mitigate this, but I wasn't able to implement one that still made it look like a normal dropdown box.</p>
  </div>
</ion-content>
